@model PagedList.IPagedList<IsoFinder.Core.IsoFile>

@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<p>Total @ViewBag.Total results for <strong>@ViewBag.SearchQuery</strong></p>
<br />

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Extension
        </th>
        <th>
            Created
        </th>
        <th>
            Size
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in @Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Extension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.ActionLink("Download", "Download", new { id=item.Id })
        </td>
    </tr>
}
</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Search", "Home", new IsoFinder.Web.Models.IsoFinderInfo { PageNumber = page, SearchQuery = ViewBag.SearchQuery }))